# Exercise: Array DataStructure

1. Let us say your expense for every month are listed below,
  1. January -  2200
  2. February - 2350
  3. March - 2600
  4. April - 2130
  5. May - 2190




Create a list to store these monthly expenses and using that find out,

  1. In Feb, how many dollars you spent extra compare to January?
  2. Find out your total expense in first quarter (first three months) of the year.
  3. Find out if you spent exactly 2000 dollars in any month
  4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
  5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [37]:
expense = [
    ['January', 'February', 'March' ,'April' ,'May'],
    [2200, 2350, 2600, 2130, 2190]
]

# 1. In Feb, how many dollars you spent extra compare to January?
print(expense[1][1] - expense[1][0])

# 2. Find out your total expense in first quarter (first three months) of the year.
print(sum(expense[1][:3]))

# 3. Find out if you spent exactly 2000 dollars in any month
2000 in expense[1]

# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expense[0].append('June')
expense[1].append(1980)
print(expense)

# 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this
expense[1][3] = expense[1][3] - 200
print(expense)

150
7150
[['January', 'February', 'March', 'April', 'May', 'June'], [2200, 2350, 2600, 2130, 2190, 1980]]
[['January', 'February', 'March', 'April', 'May', 'June'], [2200, 2350, 2600, 1930, 2190, 1980]]

2. You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [71]:
heros=['spider man','thor','hulk','iron man','captain america']

# 1. Length of the list
print(len(heros))

# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print(heros)

# 3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3, 'black panther')
print(heros)

# 4. Now you don't like thor and hulk because they get angry easily :) 
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

heros[1:3]=['doctor strange']
print(heros)

# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [76]:
max = int(input())
[i for i in range(1, max+1) if i%2 != 0]

20

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]